@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

a{
  color: black !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(28, 95, 8, 0.897);
  opacity: 0.5; /* Firefox */
}

.brand-logo {
  font-family: 'Black Ops One', cursive;     /* brand logo font */
  font-size: 50px !important;
}

.mycard {
  margin-top: 30px;
}

.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(48, 109, 7) !important;
  box-shadow: 0 1px 0 0 rgb(48, 109, 7) !important;
}