@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hammersmith+One&family=Russo+One&display=swap');

html,
body {
    margin: 0px;
    height: 100%;
}

a,h2{
  color: rgb(255, 255, 255) !important;
}

a{
  font-family: 'Hammersmith One', sans-serif;
}
h5{
  font-family: 'Bebas Neue', cursive;
}

/* signin/signup css start */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 0.5; /* Firefox */
}

.brand-logo {
  font-family: 'Russo One', sans-serif;     /* brand logo font */
  font-size: 50px !important;
  color: #ffffff !important;
}

#root {
  margin: 0px !important;
  background-image: url('image.jpg');
  background-size: cover;
    background-position: top center;
    
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  
    
}


/* Nav bar styling */

.sidenav{
  background-color: #1f1d1d;
  padding-top: 150px;
}

.logout{
  
  margin-right: 20px !important;
}

.sidenav li > a{
  font-size: 30px !important;
}
.sidenav li > button{
  margin-left: 36px !important;
  
}

.sidenav li > a:hover{
  text-align: center !important;
}

/* Nav styling end */



.email{
  background-image: url('image.jpg');
  background-size: cover;
    background-position: top center;
    
    background-repeat: repeat;
  display: flex;
  justify-content: space-around;
  margin: 0px 0px;
  flex-wrap: wrap;
  padding: 10px 10px ;
}
.mycard {
  height: 80vh;
  margin-top: 10px;
  padding-top: 10vh;
}

.quote{
 text-align: center;
 font-family: 'Bebas Neue', cursive;
}

.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
  border-radius: 25px;
}

.auth-btn{
  color: black;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(0, 0, 0) !important;
  box-shadow: 0 1px 0 0 rgb(0, 0, 0) !important;
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid rgb(0, 0, 0) !important;
  box-shadow: 0 1px 0 0 rgb(0, 0, 0) !important;
}
/* signin/signup css end */


/* profile css start */
.heading2{
  width: 100vw;
}

.profileoverview{
  background-image: url('image.jpg');
  background-size: cover;
    background-position: top center;
    
    background-repeat: repeat;
  display: flex;
  justify-content: space-around;
  margin: 0px 0px;
  flex-wrap: wrap;
  padding: 10px 10px ;
 
}

.profileoverview-heading{
  color: #ffffff;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}

.profileoverview-card{
  padding: 20px !important;
  width: 350px !important;
}
.stonks{
  background-image: url('image.jpg');
  background-size: cover;
    background-position: top center;
    
    background-repeat: repeat;
  display: flex;
  justify-content: space-around;
  margin: 0px 0px;
  flex-wrap: wrap;
  padding: 10px 10px ;
}
.profile-stock-card {
  padding: 20px !important;
  width: 350px !important;
  
}


/* profile css end */

/*  profile transaction css */

.input-field-transaction input[type=text]:focus {
  border-bottom: 1px solid rgb(0, 0, 0) !important;
  box-shadow: 0 1px 0 0 rgb(0, 0, 0) !important;
  
  
}

.transaction{
  background-image: url('i2.jpg');
  background-size: cover;
    background-position: top center;
    
    background-repeat: repeat;
  display: flex;
  justify-content: space-around;
  margin: 0px 0px;
  flex-wrap: wrap;
  padding: 10px 10px ;
}
/*  profile transaction css */


.ttt {
  background-image: url('wallstreet.jpg');
  background-size: cover;
  display: grid;
  z-index: -9;
}

/* toast position */
#toast-container{
  top: 50px !important;
  right: 20px !important;
  left: auto !important;
}

/*  */





































.checkerboard {
  background-image: url('wallstreet_quote.jpg');
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 100vh;
  width: 100%;
  z-index: 10;
}
.checkerboard > div:nth-child(1) {
  -webkit-animation-delay: 3.71429s;
          animation-delay: 3.71429s;
}

.checkerboard > div:nth-child(2) {
  -webkit-animation-delay: 0.71429s;
          animation-delay: 0.71429s;
}

.checkerboard > div:nth-child(3) {
  -webkit-animation-delay: 3.57143s;
          animation-delay: 3.57143s;
}

.checkerboard > div:nth-child(4) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.checkerboard > div:nth-child(5) {
  -webkit-animation-delay: 1.14286s;
          animation-delay: 1.14286s;
}

.checkerboard > div:nth-child(6) {
  -webkit-animation-delay: 1.85714s;
          animation-delay: 1.85714s;
}

.checkerboard > div:nth-child(7) {
  -webkit-animation-delay: 3.42857s;
          animation-delay: 3.42857s;
}

.checkerboard > div:nth-child(8) {
  -webkit-animation-delay: 4.28571s;
          animation-delay: 4.28571s;
}

.checkerboard > div:nth-child(9) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.checkerboard > div:nth-child(10) {
  -webkit-animation-delay: 3.85714s;
          animation-delay: 3.85714s;
}

.checkerboard > div:nth-child(11) {
  -webkit-animation-delay: 1.71429s;
          animation-delay: 1.71429s;
}

.checkerboard > div:nth-child(12) {
  -webkit-animation-delay: 5.42857s;
          animation-delay: 5.42857s;
}

.checkerboard > div:nth-child(13) {
  -webkit-animation-delay: 4.71429s;
          animation-delay: 4.71429s;
}

.checkerboard > div:nth-child(14) {
  -webkit-animation-delay: 5.14286s;
          animation-delay: 5.14286s;
}

.checkerboard > div:nth-child(15) {
  -webkit-animation-delay: 3.85714s;
          animation-delay: 3.85714s;
}

.checkerboard > div:nth-child(16) {
  -webkit-animation-delay: 3.71429s;
          animation-delay: 3.71429s;
}

.checkerboard > div:nth-child(17) {
  -webkit-animation-delay: 6.71429s;
          animation-delay: 6.71429s;
}

.checkerboard > div:nth-child(18) {
  -webkit-animation-delay: 2.71429s;
          animation-delay: 2.71429s;
}

.checkerboard > div:nth-child(19) {
  -webkit-animation-delay: 4.42857s;
          animation-delay: 4.42857s;
}

.checkerboard > div:nth-child(20) {
  -webkit-animation-delay: 1.14286s;
          animation-delay: 1.14286s;
}

.checkerboard > div:nth-child(21) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.checkerboard > div:nth-child(22) {
  -webkit-animation-delay: 3.71429s;
          animation-delay: 3.71429s;
}

.checkerboard > div:nth-child(23) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.checkerboard > div:nth-child(24) {
  -webkit-animation-delay: 5.28571s;
          animation-delay: 5.28571s;
}

.checkerboard > div:nth-child(25) {
  -webkit-animation-delay: 5.14286s;
          animation-delay: 5.14286s;
}

.checkerboard > div:nth-child(26) {
  -webkit-animation-delay: 6.28571s;
          animation-delay: 6.28571s;
}

.checkerboard > div:nth-child(27) {
  -webkit-animation-delay: 5.14286s;
          animation-delay: 5.14286s;
}

.checkerboard > div:nth-child(28) {
  -webkit-animation-delay: 0.57143s;
          animation-delay: 0.57143s;
}

.checkerboard > div:nth-child(29) {
  -webkit-animation-delay: 4.57143s;
          animation-delay: 4.57143s;
}

.checkerboard > div:nth-child(30) {
  -webkit-animation-delay: 1.14286s;
          animation-delay: 1.14286s;
}

.checkerboard > div:nth-child(31) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.checkerboard > div:nth-child(32) {
  -webkit-animation-delay: 1.14286s;
          animation-delay: 1.14286s;
}

.checkerboard > div:nth-child(33) {
  -webkit-animation-delay: 0.42857s;
          animation-delay: 0.42857s;
}

.checkerboard > div:nth-child(34) {
  -webkit-animation-delay: 1.28571s;
          animation-delay: 1.28571s;
}

.checkerboard > div:nth-child(35) {
  -webkit-animation-delay: 4.28571s;
          animation-delay: 4.28571s;
}

.checkerboard > div:nth-child(36) {
  -webkit-animation-delay: 6.57143s;
          animation-delay: 6.57143s;
}

.checkerboard > div:nth-child(37) {
  -webkit-animation-delay: 5.85714s;
          animation-delay: 5.85714s;
}

.checkerboard > div:nth-child(38) {
  -webkit-animation-delay: 0.71429s;
          animation-delay: 0.71429s;
}

.checkerboard > div:nth-child(39) {
  -webkit-animation-delay: 2.42857s;
          animation-delay: 2.42857s;
}

.checkerboard > div:nth-child(40) {
  -webkit-animation-delay: 5.14286s;
          animation-delay: 5.14286s;
}

.checkerboard > div:nth-child(41) {
  -webkit-animation-delay: 3.85714s;
          animation-delay: 3.85714s;
}

.checkerboard > div:nth-child(42) {
  -webkit-animation-delay: 1.71429s;
          animation-delay: 1.71429s;
}

.checkerboard > div:nth-child(43) {
  -webkit-animation-delay: 3.42857s;
          animation-delay: 3.42857s;
}

.checkerboard > div:nth-child(44) {
  -webkit-animation-delay: 0.14286s;
          animation-delay: 0.14286s;
}

.checkerboard > div:nth-child(45) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.checkerboard > div:nth-child(46) {
  -webkit-animation-delay: 4.42857s;
          animation-delay: 4.42857s;
}

.checkerboard > div:nth-child(47) {
  -webkit-animation-delay: 4.85714s;
          animation-delay: 4.85714s;
}

.checkerboard > div:nth-child(48) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.checkerboard > div:nth-child(49) {
  -webkit-animation-delay: 5.85714s;
          animation-delay: 5.85714s;
}

@media screen and (prefers-reduced-motion: no-preference) {
  .checkerboard > div {
    -webkit-animation-name: poof;
            animation-name: poof;
    -webkit-animation-duration: 0.25s;
            animation-duration: 0.25s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    background: #fff;
  }
  .checkerboard > div:nth-child(even) {
    background: #2f2f2f;
  }
}

@-webkit-keyframes poof {
  to {
    opacity: 0;
  }
}

@keyframes poof {
  to {
    opacity: 0;
  }
}



@media only screen and (max-width:1496px){
  .checkerboard {
    background-image: url('123.jpg');
  }
}

@media only screen and (max-width:800px){
  .checkerboard {
    background-image: url('small.jpg');
  }
}

@media only screen and (max-width:470px){
  .checkerboard {
    background-image: url('ex_small.jpg');
  }
}
/*# sourceMappingURL=home.css.map */